apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
  namespace: bookstack-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - name: mariadb
          image: mariadb:11
          ports:
            - containerPort: 3306
          envFrom:
            - secretRef:
                name: bookstack-db-secrets
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: bookstack-db-secrets
                  key: MYSQL_ROOT_PASSWORD
          volumeMounts:
            - name: mariadb-storage
              mountPath: /var/lib/mysql
        # MOVED THIS HERE: Inside 'containers', not 'volumes'
        - name: mysqld-exporter
          image: prom/mysqld-exporter
          env:
            - name: DATA_SOURCE_NAME
              value: "root:$(MYSQL_ROOT_PASSWORD)@(localhost:3306)/"
          ports:
            - containerPort: 9104
              name: metrics
      volumes:
        - name: mariadb-storage
          persistentVolumeClaim:
            claimName: mariadb-data